.search-box {
    background: rgba(0, 0, 0, .1);
    border-radius: 40px;
    padding: 10px;
    box-shadow: 0 4px 4px;
}

.search-btn {
    color: #000000;
    opacity: 0.7;
}

.search-btn:hover {
    color: black;
    opacity: 1;
}

.search-txt {
    padding-left: 60px;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 16px;
    width: 500px;
}


.navbar {
    width: 100%;
    height: 70px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

.navbar .navconteiner {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin: 200px;
}

.navbar-menu li {
    display: inline-block;

}

.navbar-menu li a {
    display: inline-block;
    color: #000000;
    opacity: 0.7;
    text-decoration: none;
    padding: 10px;
    transition: all .07s ease-in-out;
}

.navbar-menu li a:hover {
    color: 127, 193, 255;
    opacity: 1;
}

.navbar-wrap {
    display: flex;
    flex-flow: row nowrap;
}

.navbar-menu li a[href="6"] {
    margin-left: 60px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 30px;
    color: black;
    text-decoration: none;
    box-shadow: 0 4px 4px;
    transition: all .1s ease-out;

}

.navbar-menu li a[href="6"]:hover {
    transform: scale(1.04);
}

.navbar-logo {
    margin-left: 200px;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: #000000;
    transition: all .07s ease-in-out;
}

.navbar-logo:hover {
    color: 127, 193, 255;
}

.cards{
    padding: 75px 0;
}

.card{
    width: 225px;
    min-height: 350px;
    box-shadow: 1px 2px 4px rgba(0, 68, 255, 0.2) ;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    transition: 0.2s;
}

.card:hover{
    box-shadow: 4px 8px 16px rgba(0, 0, 0, .1);
}

.card-top{
    flex: 0 0 220px;
    position: relative;
    overflow:inherit;
}

.card-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.card-img img{
    width:100%;
    height: 100%;
    object-fit: contain;
    padding-top: 10px;
    transition: 0.2s;
}

.card-img:hover img{
    transform: scale(1.03);
}

.card-label{
    position: absolute;
    bottom: 4px;
    left: 4px;
    padding: 4px 8px;
    background-color: rgba(0, 68, 255);
    border-radius: 4px;
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.card_bottom{
    flex: 1 0 auto;
    padding: 10px;
}

.card-prices{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.card-price{
    width: 50%;
    margin-left: 15px;
    margin-right: 15px;
}

.card-price::after{
    content: "₽";
    margin-left:4px ;
}

.card-price--discount{
    font-weight: 700;
    font-size: 19px;
    color:#414141;
    display: flex;
    flex-wrap: wrap-reverse;
}

.card-price--discount::before{
    font-weight: 400;
    font-size: 13px;
    color:black;
}

.card-price--common{
    font-weight: 400;
    font-size: 17px;
    color: #606060;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
}

.card-price--common::before{
    content: "Без скидки";
    font-weight: 400;
    font-size: 13px;
    color: #a39f9f;
}

.card-title{
    display: block;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.2;
    color:#414141;
    text-decoration: none;
}

.card-title:hover{
    color: rgba(0, 68, 255);
}

.card-btn{
    display: block;
    width: 70%;
    font-weight: 400;
    font-size: 17px;
    color: #70c05b;
    padding: 10px;
    text-align: center;
    border: 1px solid #70c05b ;
    border-radius: 10px;
    margin: 10px 0;
    margin-left: 35px;
}
.card-btn-href{
    text-decoration: none;
}
.card-btn:hover{
    background-color:#70c05b;
    color: white;
}

.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-cards{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 225px);
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    column-gap: 30px;
    row-gap: 40px;
}
.cards h2{
    width: 100%;
    position: relative;
    text-align: left;
    padding: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

footer {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 10);
    background-color: #12121200;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}

footer a {
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin-left: 10px;
    text-decoration: none;
}

footer nav a:hover {
    color: rgb(0, 0, 0);
    border-bottom: 1px solid white;
}

.social img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-decoration: none;
}

.btn-centr{
    margin-top: 30px;
    text-align: center;
}

.show-more{
    border-radius: 10px;
    background-color: #2d2e2c;
    color: white;
    
}

.show-more:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgb(60, 255, 0);
}

.product:nth-child(n+2){
    display: none;
}
.product.is-visible{
    display: block;
}